

<!DOCTYPE html>

<head>
    <title>RSS_Reader</title>

    {% load static %}

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/js/bootstrap.min.js"></script>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="{% static 'rss/my.css' %}">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css">
    <link rel="shortcut icon" type="image/png" href="{% static 'rss/favicon.ico' %}"/>

</head>

<body>
    <nav class="navbar navbar-expand-sm bg-color-navbar navbar-dark sticky-top">
        <ul class="navbar-nav">
            <li class="nav-item active ">
                <a class="nav-link lead grow grow:hover" style="font-family: Comic Sans MS;" href="/">Home</a>
            </li>
        </ul>
    </nav>

    {% block body %}{% endblock %}

</body>

</html>